<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>编辑</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-list-header>
      查询年份：{{selectedYear}}流入：xx 流出：xx 总额：xx
    </ion-list-header>
    <ion-item no-padding class="accordionItem" *ngFor="let monthItem of monthArray">
      <div [ngClass]="{'activeTitle':monthItem.showDetails,'inactiveTitle':!monthItem.showDetails}" class="accordionTitle"
        (click)="toggleRecordDetails(monthItem)">
        {{monthItem.monthTitle}}
      </div>
      <div class="accordionDetail" *ngIf="monthItem.showDetails">
        <ion-grid no-padding>
          <ion-row *ngFor="let dayRecord of selectedMonthRecord">
            <ion-col no-padding col-1 class="dateColumn">
              <ion-item no-padding>
                <div class="dayOfMonth">
                  {{dayRecord.date | formateFromISO : 'day'}}
                </div>
                <div class="week">
                  {{dayRecord.date | formateFromISO : 'Week'}}
                </div>
              </ion-item>
            </ion-col>
            <ion-col no-padding col-11 class="mrColumn">
              <ion-list class="recordlist" no-padding>
                <ion-item-sliding *ngFor="let moneyRecord of dayRecord.dayRecord; let i = index">
                  <ion-item class="lPadingCloser" (click)="recordTapped($event, moneyRecord)">
                    <ion-icon name="beer" item-left></ion-icon>
                    <ion-label>{{moneyRecord.subtype}}</ion-label>
                    <div item-right [ngClass]="{'inMoneyColor':moneyRecord.direction=='收入','outMoneyColor':moneyRecord.direction=='支出'}">
                      ¥{{moneyRecord.money}}
                    </div>
                  </ion-item>
                  <ion-item-options side="right">
                    <button ion-button color="danger" (click)="deleteRecord(i, dayRecord)">
                        <ion-icon name="trash"></ion-icon>删除
                      </button>
                  </ion-item-options>
                </ion-item-sliding>
              </ion-list>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
